﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Magic Mirror Demo</title>

    <!-- css:css -->
    <!-- endinject -->

    <!-- lib:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->


</head>
<body ng-app="demoApp" ng-controller="DemoController as dc">

    <md-content layout-padding>
        <form name="userForm">
            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                <div flex-gt-sm="80">
                    <p>
                        Click "Send Message" to send a message to all listening Magic Mirrors.
                    </p>
                </div>
            </div>

            <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Message</label>
                    <!--md-maxlength="30"-->
                    <input name="message" ng-model="dc.messageContent" ng-keyup="$event.keyCode == 13 && dc.sendMessage(userForm)"}" />

                    <!--<div ng-messages="userForm.message.$error">
                        <div ng-message="required">Message is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>-->
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>
                <div style="text-align: right;">
                    <md-button class="md-raised md-primary" ng-click="dc.sendMessage(userForm)">Send Message</md-button>
                </div>
            </div>
        </form>
    </md-content>
</body>
</html>