<style>
    .compliments {
        color: #fff;
        font-family: Roboto, sans-serif;
        font-weight: 100;
        font-size: 75px;
        line-height: 75px;
        letter-spacing: -3px;
        -webkit-font-smoothing: antialiased;
    }

    .jl-fade-add, .jl-fade-remove {
      transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    }

    .jl-fade,
    .jl-fade-add.jl-fade-add-active {
      opacity:0;
    }

    .jl-fade-remove.jl-fade-remove-active {
      opacity:1;
    }

    .img-column {
        width:33.3%;
        float:left;
        text-align:center;
    }

    .img-column img {
        max-height:100%;
        max-width:100%;
    }
    

</style>

<div ng-show="vm.show" class="fade">
    <div animation-end hide-content="vm.hideCompliments" hide-content-callback="vm.hideComplete" class="compliments" ng-bind-html="vm.compliment | to_trusted">
        

    </div>
</div>