﻿<section ng-show="vm.show" class="fade">
    <div layout="row" ng-show="vm.showMap">
        <img ng-src="{{ vm.mapUrl }}" />
    </div>
    <div layout="row">
        <div class="medium light">
            <span class="bright"><i class="material-icons">schedule</i>Travel time</span>
        </div>
    </div>
    <div layout="row">
        <span class="normal medium">{{vm.travelDuration | number:0}} minutes with</span>
    </div>
    <div layout="row">
        <span class="normal medium">{{vm.trafficCongestion}} traffic</span>
    </div>
</section>