<div ng-show="vm.show" class="fade" style="position:absolute;left:0;right:0; margin-left:auto; margin-right:auto;width:400px;height:500px;z-index:1000">
    <textarea ng-model="vm.log" style="width:100%;height:100%;background-color:grey;"></textarea>
</div>