
<div style="text-align:center;padding-top:60px;">
    
    <img class="logo-small" src="/assets/img/slalom-logo.png" />

    <!--<div>Name: <input type="text" ng-model="fr.desiredName" /></div>-->

    <div class="row row-grid">

    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="row row-grid">
            <div class="form-group">
                <label class="pull-left" for="faceInput">Name</label>
                <input ng-model="vm.personInfo.desiredName" type="text" class="form-control pull-left" id="faceInput" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="row row-grid">
            <div class="form-group">
                <label class="pull-left" for="faceInput">Location</label>
                <input ng-model="vm.personInfo.location" type="text" class="form-control pull-left" id="location" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="row row-grid">
            <div class="form-group">
                <button class="btn btn-primary pull-left" type="button" ng-click="vm.saveFaceClick({personInfo: vm.personInfo})">Provision Me</button>
            </div>
        </div>

        </div>
   
    <div class="col-md-4"></div>

</div>