﻿<div ng-show="vm.show" class="fade">
    <section>
        <div layout="columns" class="normal medium">
            <div layout="row" layout-align="center center"><i class="dimmed wi wi-strong-wind"></i></div>
            <div layout="row" layout-align="center center">
                <span>
                    {{vm.weatherData.wind.speed | number:0}}
                    <sup>{{vm.windDirections(vm.weatherData.wind.deg)}}</sup>
                </span>
            </div>
            <div layout="row" layout-align="center center"><i class="dimmed wi wi-sunset"></i></div>
            <div layout="row">{{vm.convertDate(vm.weatherData.sys.sunset, 'hh:mm')}}<sub>{{vm.convertDate(vm.weatherData.sys.sunset, 'A')}}</sub></div>
        </div>
        <div layout="row">
            <div class="content-right large light">            
                <i class="dimmed weathericon wi" ng-class="vm.getWeatherIcon(vm.weatherData.weather[0].icon)"></i>
                <span class="bright">{{vm.weatherData.main.temp | number:1}}&deg;</span>
            </div>
        </div>
        <div layout="row">
            <div class="content-right normal medium">{{vm.weatherData.weather[0].description}}</div>
        </div>
    </section>
    <section>
        <div layout="row">
            <div class="content-right">Weather Forecast</div>
        </div>
        <div layout="row">
            <hr />
        </div>
        <div layout="columns" ng-repeat="day in vm.forecastData.list" class="small">
            <div layout="row" flex="25" class="day" ng-style="vm.setOpacity($index)">{{vm.convertDate(day.dt, 'ddd')}}</div>
            <div layout="row" flex="25"><i class="bright weather-icon wi" ng-class="vm.getWeatherIcon(day.weather[0].icon)" ng-style="vm.setOpacity($index)"></i></div>
            <div layout="row" flex="25" class="align-right bright max-temp" ng-style="vm.setOpacity($index)">{{day.temp.max | number:1}}&deg;</div>
            <div layout="row" flex="25" class="align-right min-temp" ng-style="vm.setOpacity($index)">{{day.temp.min  | number:1}}&deg;</div>
        </div>
    </section>
</div>