﻿.weather {
    text-transform: capitalize;
    text-align: right;

    & .weathericon {
      font-size: 75%;
      line-height: 65px;
      display: inline-block;
      -ms-transform: translate(0, -3px); /* IE 9 */
      -webkit-transform: translate(0, -3px); /* Safari */
      transform: translate(0, -3px);
    }
}

.weatherforecast {
    & .day {
      padding-left: 0;
      padding-right: 25px;
    }

    & .weather-icon {
      padding-right: 30px;
      text-align: center;
    }

    & .min-temp {
      padding-left: 20px;
      padding-right: 0;
    }
}