﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Magic Mirror Provisioning</title>

    <!-- css:css -->
    <!-- endinject -->

    <!-- lib:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
    
    <style>
        html {
        
          background-color:black;

        }
            
        .row-grid + .row-grid {
            margin-top: 10px;
        }

        .center-video {
            position: absolute; /* positions out of the flow, but according to the nearest parent */
            top: 0; right: 0; /* confuse it i guess */
            bottom: 0; left: 0;
            margin: auto; /* make em equal */
        
        }

        .logo-small {
            height:50px;
            padding-bottom:15px;
        }


    </style>

</head>
<body ng-app="mirrorApp" ng-controller="ProvisionFaceController as vm">

    <!--Hack to grant keyboard focus to the app on Windows IOT,
    without this, the keyboard won't recieve DOM events from the document-->
    <input type="text" id="focusHack" style="position:absolute;opacity:0;" />

    <face-provision save-face-click="vm.onSaveFace(personInfo)"></face-provision>
    <video-display api="vm.videoApi" show-video-display="true" detection-interval="vm.detectionInterval"></video-display>
    <ul>
        <li ng-repeat="provisionedFace in vm.provisionedFaces">
            <a ng-click="vm.deleteFace(provisionedFace.persistedFaceId)">Delete</a>
            {{provisionedFace.name}}
        </li>
    </ul>
</body>
</html>