﻿<section ng-show="vm.show" class="fade">
    <div layout="row">
        <div class="large light">
            <span class="bright">{{vm.time}}</span>
        </div>
    </div>
    <div layout="row">
        <div class="content-right normal medium">{{vm.day}}, {{vm.date}}</div>
    </div>
</section>